@page
@model PapaLuiPizzaria.Pages.Stores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.ConcurrencyToken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.ConcurrencyToken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Administrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Administrator.FirstMidName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Store?.StoreID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
